.main-new {
    background-color: rgb(219, 219, 219);
    max-width: 20%;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
}

.new-button {
    max-width: 100px;
    color: white;
    background-color: rgb(94, 94, 224);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -20px;
}

.new-button-link {
    color: white;
    text-decoration: none;
}

#Add{
    margin-top:30px;
    width:175px;
    height:30px;
    cursor:pointer;
    background-color: rgb(62, 161, 62);
    border:none;
    color:white;
    border-radius: 5px;
}


.radios{
    display:flex;
    width:120px;
    margin:auto;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom:-15px;

}